*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#141e30,#243b55);
color:white;
}

.music-player{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:20px;
text-align:center;
width:340px;
backdrop-filter:blur(15px);
box-shadow:0 20px 40px rgba(0,0,0,0.4);
animation:fadeIn 1s ease;
}
.time{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:10px;
}

.cover{
width:220px;
height:220px;
border-radius:20px;
object-fit:cover;
margin:20px 0;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.controls button{
background:rgba(255,255,255,0.1);
border:none;
color:white;
font-size:20px;
margin:10px;
padding:15px;
border-radius:50%;
cursor:pointer;
transition:0.3s;
}

.controls button:hover{
background:#00adb5;
transform:scale(1.1);
}

#progress{
width:100%;
margin:15px 0;
}

.volume-controls{
display:flex;
align-items:center;
gap:10px;
margin-top:10px;
}

.volume-controls input{
flex:1;
}

.volume-controls button{
background:rgba(255,255,255,0.1);
border:none;
color:white;
padding:10px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

.volume-controls button:hover{
background:#00adb5;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}